f1_race_traces_2021/data/fastf1_cache/
f1_race_traces_2021/data/fastf1_cache/
.ipynb_checkpoints/
f1_race_traces_2021/data/fastf1_cache/
.ipynb_checkpoints/
f1_race_traces_2021/data/fastf1_cache/
.ipynb_checkpoints/
fastf1_cache/
__pycache__/
*.pyc
